body {
    margin-left: 100px;
}

.main-container {
    width: 90%;
    display: flex;
    flex-direction: row-rever;
}

.image-container {
    width: 30%;
}

.address-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-body {
    width: 90%;
    border: solid 1px black;
}

.main2-body {
    margin-top: 10px;
    width: 90%;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
}

.main3-body {
    margin-top: 10px;
    width: 90%;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
}

.image-1 {
    height: 150px;
    width: auto;
}

.image-2 {
    width: 300px;
    height: auto;
}

.side-1 {
    width: 50%;
}

.side-2 {
    width: 50%;
}

table {
    /* border: solid 1px;
    border-left: 0;
    border-right: 0; */
    width: 100%;
border-collapse: collapse;
}

.table-0 .th-1 {
    border-bottom: 0;
    border-right: 0;
}

.table-0 .th-2 {
    border-left: 0;
    border-bottom: 0;
    align-items: end;
}

.table-1 .th-1 {
width: 82%;
border-top: 0;
}

.table-2 .th-1 {
    width: 82%;
}

.table-2 .th-2 {
    background-color: black;
}


h1 {
    margin: 0;
    font-size: 20px;
}

.h1-1 {
    margin-left: 100px;
    
}


h2 {
    font-size: 13px;
}

h3 {
    display: flex;
    background-color: rgb(209, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: solid 1px black;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* table tr th {
    background-color: white;
} */

.date {
    width: 1.16%;
    background-color: white;
    color: rgb(206, 204, 204);
    }

    .date-1 {
        width: 1.16%;
        background-color: white;
        color: black;
        }
/* tr {
    border-color: solid 1px black;
} */

th {
    background-color: white;
    width: 25%;
    border: 1px solid black;
    font-size: 15px;
    font-family: Arial;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}


.flex-1 {
    width: 90%;
}

img {
    width: 10px;
    height: 12px;
    margin-left: 3px;
}